*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto Mono', monospace;
}

#image{
	width: 75px;
	height: 50px;
	margin-left: 10px;
	border-radius: 100px;
}

#nav{
	color: black;
	margin-right: 15px;
}

.navbar{
	background-color: #5B6478;
	border-bottom: 2px solid white;
	height: 10vh;
}

#button{
	background-color: white;
}

#img{
	width: 450px;
	height: 450px;
	border-radius: 100%;
}

.home{
	background-color: #5B6478;
	height: 90vh;
	margin-top: 10vh;
}

.home-text{
	color: black;
}

.about{
	text-decoration: none;
}