*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto Mono', monospace;
}

#image{
	width: 75px;
	height: 50px;
	margin-left: 10px;
	border-radius: 100px;
}

#button{
	background-color: white;
}

#img{
	width: 450px;
	height: 450px;
	border-radius: 100%;
	padding: 96px;
}

.htext{
	color: white;
}

.about{
	background-color: #FFC63A !important;
	text-decoration: none;
	padding: 10px;
	border-radius: 100px;
}

.about:hover{
	background-color: black !important;
	color: white !important;
}

.conta{
	text-decoration: none;
	padding: 10px;
	border-radius: 100px;
}

.background{
	background-image: url('../images/bgmain.jpg');
	position: relative;
	min-width: 100vh;
	background-size: cover;
	background-position: center;
	padding: 90px 0 157px;
	background-attachment: fixed;
}

.nav-link{
	color: white !important;
	letter-spacing: 2px;
	font-size: 1em;
	font-weight: bold;
	margin-right: 15px;
}

.nav-link:hover{
	background: transparent;
	color: #FFC63A !important;
	transition: 0.5s;
}

.contact{
	height: 100vh;
}

.bg{
	background-color: black;
	color: white;
}

footer{
	color: white;
	background-color: black;
}

